@media (max-width: 600px) {
  .header {
    background-image: url(./assets/images/bg/burger-menu.svg);
    background-repeat: no-repeat;
    background-position: right center;
    &__nav {
      ul.active {
        // background-image: url(./assets/images/bg/menu-cross.svg); background-position: right center;
        display: none;
        // display: flex;
        align-items: center;
        position: absolute;
        background-image: url(./assets/images/bg/bg-burger-menu.png);
        top: 6%;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1000;
        flex-direction: column;
        padding: 40px 58px;
        gap: 32px;
      }
      &-list {
        // display: none;
      }

      &-link {
        color: #333d4b;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
      }
    }
  }
}
