// third section

@media (max-width: 1150px) {
  .about {
    &__company {
      margin-bottom: 434px;
      &-block {
        padding-top: 56px;
      }

      &-title {
        color: #fefcf7;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        margin-bottom: 24px;
      }

      &-description {
        color: #fefcf7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.8;
      }
    }
  }

  .company {
    &__advantages {
      display: flex;
      flex-direction: column;
      bottom: -295px;
      &-block {
        display: flex;
        max-width: 573px;
        height: 180px;
        flex-direction: row;
        align-items: center;
        padding: 41px 48px 41px 70px;
      }

      &-description {
        color: #fefcf7;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

// fourth section

@media (max-width: 1070px) {
  .product {
    &__instruction {
      max-width: 889px;
      margin-bottom: 120px;
      h1 {
        margin-bottom: 40px;
      }
      // &-works {
      // }

      &-bg {
        max-width: 80%;
        margin-bottom: 48px;
      }
    }

    &__info {
      margin-bottom: 44px;
      &-pick {
        width: 223px;
      }
      &-subtitle {
        width: 220px;
        color: #333d4b;
        font-family: "Fraunces", serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
      }

      &-description {
        height: 152px;
        color: #333d4b;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }

      &-button {
      }
    }
  }
}

@media (max-width: 880px) {
  .product {
    &__instruction {
      max-width: 689px;
      h1 {
      }
      &-bg {
        max-width: 72%;
        width: 497px;
        height: 21px;
      }
    }

    &__info {
      column-gap: 5px;
      &-pick {
        height: 369px;
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    &__introduction {
      min-height: 500px;
      padding: 104px 0 104px 58px;
      &-title {
        max-width: 329px;
        color: #fefcf7;
        font-family: "Fraunces", serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
      }

      &-paragraph {
        max-width: 398px;
        color: #fefcf7;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.8;
      }
    }
  }
}

// second section

@media (max-width: 800px) {
  .main {
    &__product {
      flex-direction: column;
      padding-top: 70px;
      max-width: 689px;
      margin-bottom: 144px;
      &-item {
        flex-direction: row;
      }

      &-title {
      }

      &-description {
        width: 282px;
        color: #333d4b;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

// first section
@media (max-width: 550px) {
  .main {
    &__introduction {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 23px;
      box-shadow: inset 0px 4px 4px 200px rgba(0, 0, 0, 0.25);
      margin-bottom: 120px;
      &-title {
        color: #fefcf7;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
      }

      &-paragraph {
        color: #fefcf7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }

      &-button {
      }
    }
  }
}

// second section

@media (max-width: 600px) {
  .main {
    &__product {
      margin-bottom: 120px;
      &-item {
        margin-top: 30px;
        row-gap: 24px;
        flex-direction: column;
      }

      &-title {
        color: #333d4b;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 16px;
      }

      &-description {
        color: #333d4b;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

// third section

@media (max-width: 570px) {
  .about {
    &__company {
      height: 902px;
      margin-bottom: 724px;
      &-block {
        width: 279px;
        padding-top: 64px;
      }
    }
  }
  .company {
    &__advantages {
      bottom: -600px;
      gap: 24px;
      :last-child {
        gap: 67px;
      }
      &-block {
        padding: 72px 12px 51px 12px;
        width: 289px;
        height: 382px;
        flex-direction: column;
      }

      &-title {
        width: 255px;
        color: #fefcf7;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
      }
      &-description {
      }
    }
  }
}

// fourth section

@media (max-width: 700px) {
  .product {
   
    &__instruction {
      .button-media {
        display: flex;
        justify-content: center;
      }
      h1 {
        text-align: center;
        margin-bottom: 80px;
      }
      &-bg {
        display: none;
      }
    }

    &__info {
      flex-direction: column;
      text-align: center;
      margin-bottom: 0px;
      &-pick {
        width: 327px;
      }

      &-title {
        width: 327px;
        color: #fdd6ba;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
      }

      &-subtitle {
        width: 327px;
      }

      &-description {
        width: 327px;
        color: #333d4b;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }

      &-button {
      }
    }
  }
}