.header {
  display: flex;
  justify-content: space-between;
  padding: 43px 0 43px;

  &__nav {
    align-items: center;
    display: flex;
    &-list {
      display: flex;
      column-gap: 33px;
    }

    &-link {
      color: #83888f;
      font-family: "Barlow", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.923px;
      text-transform: uppercase;
    }
    :hover{
      color: #333D4B;
      transition: 0.3s ease-in
    }
  }
}
